/node_modules
/vendor
.env
*__*

/docker-compose.yml

/html/*
!/html/.gitkeep
/mysql_db/*
!/mysql_db/.gitkeep
/php/ssl/*
!/php/ssl/.gitkeep
!/php/ssl/myca
/php/ssl/myca/*
!/php/ssl/myca/.gitkeep
/php/conf/*
!/php/conf/.gitkeep
!/php/conf/000-default.example.conf