/node_modules
/vendor
.env
*__*

/html/*
!/html/.gitkeep

/mysql_db/*
!/mysql_db/.gitkeep

/mysql_db/*
!/mysql_db/.gitkeep
/mysql_ex/*
!/mysql_ex/.gitkeep

/postgres_db/*
!/postgres_db/.gitkeep
/postgres_ex/*
!/postgres_ex/.gitkeep

/myca/*
!/myca/.gitkeep
